body {
  font-family: Arial, sans-serif;
}

.app {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.task form {
  display: flex;
  align-items: center;
}

.task form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.task form button[type="submit"],
.task form button[type="button"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.tasks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.task span {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
}

.task button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.completed span {
  text-decoration: line-through;
  color: #ccc;
}

.task button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* .task button:hover {
  background-color: #3e8e41;
} */

.task button.delete {
  background-color: #f44336;
}

.task button.delete:hover {
  background-color: #da190b;
}

.task button.edit {
  background-color: #2196F3;
}

.task button.edit:hover {
  background-color: #0b7dda;
}

.task form button.save {
  background-color: #2196F3;
}

.task form button.save:hover {
  background-color: #0b7dda;
}

.task form button.cancel {
  background-color: #f44336;
}

.task form button.cancel:hover {
  background-color: #da190b;
}